{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.taoensso/timbre {:mvn/version "6.2.2"}}
 :aliases
 {:repl {:extra-paths ["dev"]
         :extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"}
                      com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                      com.hyperfiddle/rcf {:mvn/version "20220926-202227"}
                      djblue/portal {:mvn/version "0.46.0"}
                      org.clojure/tools.namespace {:mvn/version "1.4.4"}}}}
 :mvn/repos
 {"ossrh-snapshots"
  {:url "https://s01.oss.sonatype.org/content/repositories/snapshots"}}}
